.level-modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.level-modal.active {
    opacity: 1;
    pointer-events: all;
}

.level-modal-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #F0F5F9;
    width: 45vw;
    height: 45vh;
    transition: 0.5s all;
    transform: scale(0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: #1E2022;
}

.bttn-group {
    align-self: end;
    margin: 10px;
}

.theory {
    overflow-y: scroll;
    height: 36vh;
}

.level-modal-content.active {
    transform: scale(1);
}

span {
    color:crimson;
}

.cat-cat {
    width: 300px;
    height: 300px;
}

.success-heading {
    color: #27C840;
}

.fail-heading {
    color: crimson;
}

.h3{
    margin: 0;
    padding: 0;
}
