.container {
    display: flex;
}

.n {

    width: 100%;
    height: 100vh;
}

.zone {
    width: 33.333%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: #f7fc00 dashed 4px;
    border-right: #f7fc00 dashed 4px;
}

.repo {
    background-color: #fcd76a;
}

.stage {
    background-color: #f0f5f9;
}

.directory {
    background-color: #d9d9d9;
}

.comand-line {
    width: 1000px;
    height: 270px;
    position: fixed;
    background-color:#1e1e1e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: end;
}

.comand-line:hover {
    cursor: pointer;
}

.task {

    color: #e1e1e1;
}

.comand-line textarea {
    width: 900px;
    height: 180px;
    background-color: #121212;
    margin-top: 10px;
    color: #e1e1e1;
    border: none;
    resize: none;
}

.comand-line textarea:focus{
    stroke: #121212;
    outline: none;
}

.box-container {
    margin-top: 30px;
    width: 70%;
    height: 70%;
    /* border: #fcd76a 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: start;
}

.mapedBox {


}

.task-info{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.zone-name {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373737;
    color: white;
    box-shadow: 10px 7px 10px rgba(0,0,0,0.3);
    margin: 0;
    height: 30px;
}

.naming {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    height: 25px;
    width: 1px;
    background-color: #1E2022;
}

.lines {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.console-buttons {
    display: flex;
    margin: 3px;
}

.console-buttons > .icon{
    margin: 2px;
}
