body {
    background-color: #F0F5F9;

}

.navbar {
    background-color: #1E2022;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #F0F5F9;
}

.navButton {
    color: #8682fb !important;
}