.yellow {
    color: #000;
    background-color: #FEBC2E;
}

.green {
    color: #000;

    background-color: #27C840;
}

.red {
    color: #000;

background-color: #FE5F57;
}
.grey {
    color: #000;

    background-color: grey;
}
